/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Encabezado azul */
header {
    background-color: #004080; /* azul oscuro */
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #f4f4f9; /* texto claro */
    margin: 0;
    font-size: 28px;
}

/* Bloque gris */
main {
    background-color: #333; /* gris oscuro */
    min-height: 300px;
    padding: 40px;
    text-align: center;
}

main ul {
    list-style: none;
    padding: 0;
}

main li {
    margin: 15px 0;
}

main a {
    color: #fff; /* enlaces blancos */
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
}